
.Separator {
    height: 1px;
    background: #D6D6D6;
    width: 100%;
    margin-left: 2rem;
}
@media only screen and (min-width:600px) {
    .Footer {
        max-width: 472px;
        margin: 0 auto;
        padding: .5rem 0;
    }
}